.menuBar > ul > li > a, .subMenu > ul > li > a , .subMenu > ul > li{
    color:white;
    display:inline;
    text-transform: uppercase;
    text-decoration:none;
    padding: 2px;
	clear:both;
   
}

.nav-bar > ul > li > a {
    color:white;
    line-height:0;	
    text-decoration:none;
    font-size:20px;
    letter-spacing: .1em;
    text-transform: capitalize;
    text-align:center;
	clear:both;
}

div.subMenu {
    text-shadow: 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black;
    font-color:white;
    padding:0;
    background-image: url('toots.jpeg');
   
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    background-size:contain;
	clear:both;
}

p.shadow{
	    text-shadow: 2px 0 0 white, 0 -2px 0 white, 0 2px 0 white, -2px 0 0 white;
}

.header {
    text-align:center;
    font-family:helvetica;
}

ul.handles, ul.handles > li, .handles > ul > li > a, .handles > ul > li > a > img {
    color:white;
    display:inline;
    text-decoration:none;
    text-align:center;
    padding: 40px;
    font-family:helvetica;
}

.handles a {
  text-decoration:none;
}

html {
    background-image: url('buff.jpg');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    
}

.sideBar {
	text-align:center;
	float: right;
	width: 200px;
	background-color:white;
	border-style:solid;
	border-width:medium;
	border-color:red;
}

.button , .button > a {
	border:red;
	color:white;
	text-align: center;
	text-decoration: none;
	display:block;
	font-size: 16px;
	color:black;
}

.footer {
  text-align:center;
  font-size:12px;
  background-color:white;
  text-transform:uppercase;
  padding: 1rem;
  margin:100px;
  height:20px;
  width: 100%;
  bottom: 0;
  float: left;
  margin: 0;
  position: relative;
  clear:both;

}

.video {
  text-align:center;
  font-size:25px;
  font-color:red;
  margin:auto;
}

img {
	background-color:transparent;
}
