div.subMenu {
	text-align:justify;
	padding:2px;
	display:inline;
	font-size:20px;
	text-decoration:none;
	letter-spacing:.1em;
	text-transform:capitalize;
    width:100%;
	text-shadow: 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black;
    color:white;
    padding:0;
    background-image: url('toots.jpeg');
    float: left;
    margin: 0 0 1em 0;
    background-size:contain;
	clear:both;
}
ul.subMenu {
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
	background-color:transparent;
	height:100%;
	overflow:auto;
}

li.subMenu {
	display:inline;
}

a.subMenu {
	text-decoration:none;
	color:white;
}


p.shadow{
	    text-shadow: 2px 0 0 white, 0 -2px 0 white, 0 2px 0 white, -2px 0 0 white;
}

.header {
    text-align:center;
    font-family:helvetica;
}

ul.handles, ul.handles > li, .handles > ul > li > a, .handles > ul > li > a > img {
    color:white;
    display:inline;
    text-decoration:none;
    text-align:center;
    padding: 40px;
    font-family:helvetica;
}

.handles a {
  text-decoration:none;
}

html {
    background-image: url('buff.jpg');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    
}

.sideBar {
	text-align:center;
	float: right;
	width: 200px;
	background-color:white;
	border-style:solid;
	border-width:medium;
	border-color:red;
}

.button , .button > a {
	border:red;
	color:white;
	text-align: center;
	text-decoration: none;
	display:block;
	font-size: 16px;
	color:black;
}

.footer {
  text-align:center;
  font-size:12px;
  background-color:white;
  text-transform:uppercase;
  padding: 1rem;
  margin:100px;
  height:20px;
  width: 100%;
  bottom: 0;
  float: left;
  margin: 0;
  position: relative;
  clear:both;

}

.video {
  text-align:center;
  font-size:25px;
  font-color:red;
  margin:auto;
}

img {
	background-color:transparent;
}
