div.subMenu {
	margin:20px;
	text-align:justify;
	padding:2px;
	display:inline-block;
	font-size:20px;
	text-decoration:none;
	letter-spacing:.1em;
	text-transform:capitalize;
    width:100%;
	text-shadow: 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black;
    color:white;
    padding:0;
    background-color:transparent;
    float: left;
    margin: 0 0 1em 0;
    background-size:contain;
	clear:both;
}
ul.subMenu {
	text-align:center;
	display:flex;
	justify-content: space-evenly;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
	background-color:transparent;
	height:100%;
	overflow:auto;
}

li.subMenu {
	display:inline;
}

a.subMenu {
	display:inline-block;
	text-decoration:none;
	color:white;
}




p.shadow{
	    text-shadow: 2px 0 0 white, 0 -2px 0 white, 0 2px 0 white, -2px 0 0 white;
}

.header {
    text-align:center;
    font-family:helvetica;
}

div.handles {
	margin:20px;
	text-align:justify;
	padding:2px;
	display:inline-block;
	font-size:20px;
	text-decoration:none;
	letter-spacing:.1em;
	text-transform:capitalize;
    width:100%;
	text-shadow: 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black;
    color:white;
    padding:0;
    background-color:transparent;
    float: left;
    margin: 0 0 1em 0;
    background-size:contain;
	clear:both;
}
ul.handles {
	text-align:center;
	display:flex;
	justify-content: space-evenly;
	list-style-type:none;
	margin:0;
	padding:0;
	width:100%;
	background-color:transparent;
	height:100%;
	overflow:auto;
}

li.handles {
	display:inline;
}

a.handles {
	display:inline-block;
	text-decoration:none;
	color:white;
}

h1.title {
	color:white;
	text-align:center;
	text-shadow: 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black;
}

html {
    background-image: url('buff.jpg');
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    
}

p.basic {
	font-family:helvetica;
	font-size:20px;
	color:white;
	text-shadow: 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black;
	text-align:center;
	float:center;
	margin:auto;
	width:70%;
	margin:10px;
}
	

.sideBar {
	text-align:center;
	float: right;
	width: 200px;
	background-color:white;
	border-style:solid;
	border-width:medium;
	border-color:red;
}

.button , .button > a {
	border:red;
	color:white;
	text-align: center;
	text-decoration: none;
	display:block;
	font-size: 16px;
	color:black;
}

.video {
  text-align:center;
  font-size:25px;
  font-color:red;
  margin:auto;
}

img {
	background-color:transparent;
}

.footerc {
	background-color:white;
   min-height:100%;
   position:relative;
}
.footerh {
   background:#ff0;
   padding:10px;
}
.footerb{
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}