input[type=text] {
	width:50%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing:border-box;
	text-shadow: 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black;
	color:white;
}

div.forms {
	position:center;
	text-align:center;
	display:block;
}