input[type=text] {
	width:200px;
	padding: 12px 20px;
	margin: 20px;
	box-sizing:border-box;
	float:center;
	margin-left:auto;
	margin-right:auto;
	
}

div.forms {
	display: block;
    text-align: center;
}

form {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
	text-shadow: 2px 0 0 black, 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black;
	color:white;

}